/*
Error: File to import not found or unreadable: www/lib/ionic/scss/ionic.
       Load paths:
         
        on line 34 of scss/ionic.app.scss

29: 
30: // The path for our ionicons font files, relative to the built CSS in www/css
31: $ionicons-font-path: "../lib/ionic/fonts" !default;
32: 
33: // Include all of Ionic
34: @import "www/lib/ionic/scss/ionic";
35: 
36: h1 {
37:   font-weight: 100;
38: }
39: 

Backtrace:
scss/ionic.app.scss:34
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/import_node.rb:45:in `import'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/plugin.rb:108:in `method_missing'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/gems/sass-3.4.6/bin/sass:13:in `<top (required)>'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/patricksullivan/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: www/lib/ionic/scss/ionic.\A        Load paths:\A          \A         on line 34 of scss/ionic.app.scss\A \A 29: \A 30: // The path for our ionicons font files, relative to the built CSS in www/css\A 31: $ionicons-font-path: \"../lib/ionic/fonts\" !default;\A 32: \A 33: // Include all of Ionic\A 34: @import \"www/lib/ionic/scss/ionic\";\A 35: \A 36: h1 {\A 37:   font-weight: 100;\A 38: }\A 39: "; }
