<ion-view view-title="{{Title}}" ng-controller="GroceryMapController">
    <!--ion-content class="has-header ">
            <ion-header-bar class="bar-stable">
                <h1 class="title">My Location</h1-->
                <!--div class="buttons">
                    <button class="button button-clear" ng-click="closeMap()"><i class="icon ion-ios-close-outline"></i></button>
                </div-->
            <!--/ion-header-bar>
            <ion-content scroll="false">
                <div style="width:100%; height:500px" id="mapContainer"></div>
            </ion-content>
            
    </ion-content-->
<div style="width:100%; height:80%" id="mapContainer" ng-init="loadMapData()"></div>
<div class="buttons" style="text-align: center">
    
    <a href="" id="button" ng-click="closeMap()">
        <span style="font-size:50%">Choose Your GrubRunner!</span>
    </a>
</div>
</ion-view>